<!-- templates/index.html.j2 -->
<!DOCTYPE html>
<html>
<head>
    <title>Hello World</title>
</head>
<body>
    <h1>Hello World!</h1>
    <p>This is a simple Ansible deployed webpage on Rocky Linux.</p>
</body>
</html>

